body,html{
    padding:0;
    margin:0;
    font-family: 'Roboto Mono', monospace;
    min-width: 400px;

}

ul,li,a,ol{
    list-style: none;
    text-decoration: none;
    color:black;
    margin:0;
    padding:0;
}

